#include "..\res\version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION version_yy, version_mm, version_dd, version_hh
 PRODUCTVERSION version_yy, version_mm, version_dd, version_hh
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", company_name
            VALUE "FileDescription", file_description
            VALUE "FileVersion", version_str
            VALUE "InternalName", original_file_name
            VALUE "LegalCopyright", copyright
            VALUE "OriginalFilename", original_file_name
            VALUE "ProductName", product_name
            VALUE "ProductVersion", version_str
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
